#game div {
  display: inline-block;
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
 
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.actions { 
display: flex;
justify-content: center;

}
